# Version Control Tracking Ignore Rules
## By default ignore all files except specified
*
.*

## Track Git config files
!.git*

## Track project readme
!README.*

## Track distributed profile scripts
!.profile.d/
!.profile.d/README.*
!.profile.d/*.source.sh

## Track FBTerm settings
!.fbtermrc

## Track Htop settings
!.config/
!.config/htop/
!.config/htop/htoprc

## Track user-dirs settings
!.config/
!.config/user-dirs.*

## Track HIME settings
!.config/
!.config/hime/
!.config/hime/hime.conf